.container {
  max-width:1200px;
  margin:0 auto;
}


.links {
  width: 300px;
  margin: 30px auto;
}
.links__link {
  margin-right:25px;
}


.cities-list {

}
.city {
  display: inline-block;
}
.city__item {

}

@media (max-width: 767px) {
  .city {
    display: block;
    width: 300px;
    margin: 25px auto;
  }
}

